.a{
	position: absolute;
	top: 200px;
	left: 300px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 10px solid blue;
}
.b{
	position: absolute;
	top: 173px;
	left: 305px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 5px solid blue;
}
.g{
	position: absolute;
	top: 173px;
	left: 375px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 5px solid blue;
}
.c{
	position: absolute;
	top: 251px;
	left: 352px;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: blue;
}
.KG{
	position: absolute;
	top: 219px;
	left: 360px;
	width: 4px;
	height: 40px;
	border-radius: 5px;
	background: blue;
	transform:  translate(-50%,0);
	transform-origin: bottom center;
	animation: kimgio 1s linear infinite normal;
	z-index: 3;
}
.d{
	position: absolute;
	top: 230px;
	left: 360px;
	width: 4px;
	height: 30px;
	border-radius: 5px;
	background: blue;
	transform:  translate(-50%,0);
	transform-origin: bottom center;
	animation: kimdongho 60s linear infinite normal;
	z-index: 3;
}
@keyframes kimdongho {
	from{transform: translate(-50%,0) rotate(0);}
	to{transform: translate(-50%,0) rotate(359deg);};
}
@keyframes kimgio {
	from{transform: translate(-50%,0) rotate(0);}
	to{transform: translate(-50%,0) rotate(359deg);};
}
p.m12{
	position: absolute;
	top: 194px;
	left: 353px;
	z-index: 1;
}
p.m6{
	position: absolute;
	top: 275px;
	left: 357px;
	z-index: 1;
}
p.m3{
	position: absolute;
	top: 235px;
	left: 317px;
	z-index: 1;
}
p.m9{
	position: absolute;
	top: 235px;
	left: 397px;
	z-index: 1;
}
.e{
	position: absolute;
	width: 30px;
	height: 20px;
	background: blue;
	border-radius: 50%;
	top: 310px;
	left: 320px;
}
.f{
	position: absolute;
	width: 30px;
	height: 20px;
	background: blue;
	border-radius: 50%;
	top: 310px;
	left: 370px;
}
.mat1{
	position: absolute;
	top: 233px;
	left: 335px;
	width: 10px;
	height: 10px;
	background: black;
	border-radius: 50%;
}
.mat2{
	position: absolute;
	top: 233px;
	left: 375px;
	width: 10px;
	height: 10px;
	background: black;
	border-radius: 50%;
}
.mieng{
	position: absolute;
	top: 275px;
	left: 341px;
	width: 20px;
	height: 7px;
	border: 9px solid black;
	border-top: none;
	border-radius: 30%;
}
.tron{
	display: none;
	position: absolute;
	top: 208px;
	left: 335px;
	width: 80px;
	height:80px;
	border-radius: 50%;
	background: red;
}

